{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="my-tasks-list">
            <h1>My Tracks</h1>
            <p>
                <a href="{% url 'create_track' %}">Add track</a>
            </p>
            {% if tracks|length != 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for track in tracks %}
                            <tr>
                                <td>{{ track.name }}</td>
                                <td>{{ track.track_number }}</td>
                                <td>{{ track.album_name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tracks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
