{% extends 'base.html' %}

    {% block content %}
    <main>
        <div class="project-list">
            <h1>My Vinyl Collection</h1>
            <p>
                <a href="{% url 'create_vinyl' %}">Add vinyl</a>
            </p>
            <p>
                <a href="{% url 'create_track' %}">Add track</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Album </th>
                        <th>Artist</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vinyl in vinyls %}
                    <tr>
                        <td><a href="{% url 'show_vinyl' vinyl.id %}">{{ vinyl.name }}</a></td>
                        <td>{{ vinyl.artist }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    {% endblock content %}
